
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="/Dashboard/Index" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/writer/assets/images/faces/face10.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">

                    <span class="font-weight-bold mb-2"> Jane DOE</span>
                    <span class="text-secondary text-small">Şirket Yöneticisi</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
            <!--change to offline or busy as needed-->

            <!--change to offline or busy as needed-->
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index">
                <span class="menu-title">Ana Sayfa</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/User/AddUser">
                <span class="menu-title">Yeni Personel</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/User/PersonList">
                <span class="menu-title">Personel Listesi</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/LogOut">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout-variant menu-icon"></i>
            </a>
        </li>


    </ul>
</nav>
