@using EntityLayer.Concrete
@model List<AppUser>



<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Hoşgeldiniz </h1>
                <h4></h4>
                <div class="d-flex mt-5 align-items-top">
                    <img src="~/writer/assets/images/faces/face10.jpg" class="img-sm rounded-circle mr-3" alt="image">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">Jane DOE</h5>
                        <p class="mb-0 font-weight-light">CTO</p>
                    </div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Telefon No</th>
                            <th>Departman</th>
                            <th>E-Mail</th>
                        </tr>
                        <tr>
                            <td>05554326578</td>
                            <td>CTO</td>
                            <td>janedoe@contoso.com</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>