@using EntityLayer.Concrete
@model List<AppUser>



<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"> Hakkınızda</h1>
                <h4>Merhaba..</h4>
                <div class="d-flex mt-5 align-items-top">


                    <img src="Fotoğraf" class="img-sm rounded-circle mr-3" alt="image">
                    <div class="mb-0 flex-grow">
                        <h5 class="mr-2 mb-2">İsim - Soyisim</h5>
                        <p class="mb-0 font-weight-light">Departman</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>