
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Personeller</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> İsim </th>
                                <th> Soyisim </th>
                                <th> Departman </th>
                                <th> İşe Giriş Tarihi </th>
                                <th> Detaylar </th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>
                                    <img src="Foto" class="mr-2" alt="image">
                                </td>
                                <td>
                                    İsim
                                </td>
                                <td>
                                    Soyisim
                                </td>
                                <td>
                                    <label class="badge badge-gradient-success">Departman Adı</label>
                                </td>
                                <td> işe giriş tarihi </td>
                                <td> <a href="@*/Blog/BlogReadAll/@item.BlogID*@" class="btn btn-dark">Detaylar</a> </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>